
.reviewCard{
    display:flex;
    flex-direction: column;
    padding:20px;
    margin:20px;
    /* background-color: rgba(252, 255, 240, 0.199); */
    /* background-color: red; */
    box-shadow: 2px 1px 1px 2px #eff5edc5;
    border:2px solid rgba(128, 128, 128, 0.315);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}

.reviewCard:hover{
    box-shadow: 1px 3px 3px 1px #dfe1e754;
    /* border-color: black; */
}

.userDetail{
    display:flex;
    align-items: center;
    padding:15px;
}

h2{
    margin-right: 20px;
    
}

p{
    padding:15px;
    color:rgba(0, 0, 0, 0.671);
   
}

.user{
    color:gray;
}

.link-more{
    color:blue;
}